name: build-demo
on: workflow_call

env:
  app_name: SparkDemoApp
  xcode_path: "/Applications/Xcode_26.1.app"

jobs:
  build:
    name: Build
    runs-on: macos-26
    steps:
      - name: Select Xcode
        run: sudo xcode-select -s ${{ env.xcode_path }}
      - name: Checkout Action
        uses: actions/checkout@v6
      - name: Run xcodegen
        uses: xavierLowmiller/xcodegen-action@1.2.2
        with:
          spec: project.yml
          version: "2.41.0"
      - name: Build
        run: |
          xcodebuild -scheme ${{ env.app_name }} -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 17,OS=26.0.1' build
      - name: Upload xcresult file
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: ${{ env.app_name }}-${{ github.run_number }}.xcresult
          path: ${{ env.app_name }}.xcresult
          retention-days: 15